<div class="container-fluid">
    <app-form (taskAdded)="taskAdded($event)" ></app-form>
    <table class="table table-bordered table-striped">
        <thead>
            <th class="d-none d-md-block">ID</th>
            <th>Task</th>
            <th>Assignee</th>
            <th>Status</th>
            <th>Creation date</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td class="d-none d-md-block">{{ task.id }}</td>
                <td>{{ task.task }}</td>
                <td>{{ task.assignee }}</td>
                <td>{{ task.status ? "Done" : "Pending" }}</td>
                <td>{{ task.creation_date }}</td>
                <td><button (click)="removeTask(task)" class="btn btn-sm btn-danger">&times;</button></td>
            </tr>
        </tbody>
    </table>
</div>