<div class="container-fluid">
    <app-form></app-form>
    <table class="table table-bordered table-striped">
        <thead>
            <th class="d-none d-md-block">ID</th>
            <th>Task</th>
            <th>Assignee</th>
            <th>Status</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td class="d-none d-md-block">{{ task.id }}</td>
                <td>{{ task.task }}</td>
                <td>{{ task.assignee }}</td>
                <td>{{ task.status ? "Completed" : "Pending" }}</td>
                <td><button class="btn-sm btn-danger">&times;</button></td>
            </tr>
        </tbody>
    </table>
</div>