<div>
    <div class="row">
        <div class="col-sm-12">&nbsp;</div>
    </div>
    <form (ngSubmit)="addTodo()">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for=""><b>Task ID</b></label>
                    <input type="text" readonly placeholder="It will be generated automatically" class="form-control">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for=""><b>Task description:</b></label>
                    <input type="text" id="description" name="description" [(ngModel)]="description" required placeholder="Enter your task description" class="form-control">
                    <div class="invalid-feedback" id="itd"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for=""><b>Assignee:</b></label>
                    <select name="assignee" [(ngModel)]="assignee" id="" class="form-control">
                        <option value="Frank">Frank</option>
                        <option value="John">John</option>
                        <option value="Alice">Alice</option>
                        <option value="Mary">Mary</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <label for=""><b>Status:</b></label>
                <div class="form-check">
                    <input name="status" class="form-check-input" [(ngModel)]="status" type="checkbox">
                    <label for="" class="form-check-label">Completed</label>
                </div>
            </div>
            <div class="col-sm-12">&nbsp;</div>
            <div class="col-sm-12 text-center align-items-center">
                <div class="form-group">
                    <button class="btn btn-dark">Create task</button>
                </div>
            </div>
            <div class="col-sm-12">&nbsp;</div>
        </div>
    </form>
</div>